# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
backend_venv/
*.egg-info/
db.sqlite3
staticfiles/

# Node
node_modules/
dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Media (keep folder structure)
media/products/*
!media/products/.gitkeep
